.container {
  max-width: 72rem;
  padding: 1rem 1rem 2rem;
  margin: auto;
}

.header {
  display: grid;
  grid-gap: 16px;
  width: 100%;
}

@media (min-width: 48em) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 32em) {
  .header {
    margin-bottom: 16px;
  }

  .header-col-1 {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }
}

.header-title-avatar {
  border-radius: 64px;
  margin-right: 16px;
}

.header-title-name {
  margin: 0;
  flex: 1 1 auto;
  font-size: 48px;
  line-height: 1;
  word-break: break-all;
  word-wrap: break-word;
}

.badge {
  background-color: var(--colors-yellow);
  color: var(--colors-black);
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  border-radius: 999px;
  text-align: center;
  white-space: nowrap;
}

.header-streak {
  padding: 4px 16px 4px 0 !important;
  margin: 8px 12px 8px 0 !important;
  max-height: 28px;
}
.header-streak-zero {
  display: none !important;
}

.header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-link {
  color: var(--colors-blue);
  transition: 0.125s color ease-in-out;
  padding-right: 8px;
  line-height: 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--colors-icon);
}

.header-content audio {
  margin-top: 6px;
  margin-bottom: 12px;
}

.headline,
.header-webring h2 {
  color: var(--colors-muted);
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.header-webring-mentions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  margin: 0 -6px 12px;
}

.header-webring-mention {
  padding: 6px;
  max-width: 100%;
  border-radius: 9px;
  flex-direction: column;
  place-items: center;
  position: relative;
  color: var(--colors-text);
  font-size: 16px;
  line-height: 1;
  text-align: center;
  word-break: break-all;
  word-wrap: break-word;
  transition: 0.125s all ease-in-out;
}

.header-webring-mention > span {
  transition: transform 0.35s ease-in-out;
}

.header-webring-mention .mention-avatar {
  width: 48px;
  height: 48px;
  margin: 0 0 6px;
  align-self: center;
}

.header-webring-mention svg {
  color: var(--colors-muted);
  position: absolute;
  right: 8px;
  top: -2px;
  background-color: var(--colors-elevated);
  border-radius: 999px;
}

.header-webring-mention:hover svg,
.header-webring-mention:focus svg {
  color: var(--colors-icon);
}

.css {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colors-muted);
  margin-top: 32px;
}

.css-icon {
  margin-left: -4px;
  margin-right: 8px;
}

.css-link {
  flex: 1 1 auto;
  word-wrap: break-word;
  word-break: break-all;
  color: inherit;
  font-size: 14px;
  font-family: var(--fonts-mono);
}

.header-streak {
  background-color: var(--colors-yellow) !important;
  color: var(--colors-black) !important;
}
