html {
  overflow-x: initial !important;
}
:root {
  --bg-color: #f5f5f4;
  --text-color: #333333;
  --select-text-bg-color: #B5D6FC;
  --select-text-font-color: auto;
  --monospace: "Lucida Console", Consolas, "Courier", monospace;
}
html {
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1rem;
  line-height: 1.42857143;
  overflow-x: hidden;
  background-image: inherit;
  background-size: inherit;
  background-attachment: inherit;
  background-origin: inherit;
  background-clip: inherit;
  background-color: inherit;
  tab-size: 4;
  background-position: inherit inherit;
  background-repeat: inherit inherit;
}
::selection {
  text-shadow: none;
  background: var(--select-text-bg-color);
  color: var(--select-text-font-color);
}
#write {
  margin: 0 auto;
  height: auto;
  width: inherit;
  word-break: normal;
  word-wrap: break-word;
  position: relative;
  white-space: normal;
  overflow-x: visible;
  padding-top: 40px;
}
@media screen and (max-width: 500px) {
  #write {
    padding-left: 5px;
    padding-right: 5px;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6,
#write p {
  width: inherit;
}
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6,
#write p {
  position: relative;
}
p {
  line-height: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  break-after: avoid-page;
  break-inside: avoid;
  orphans: 4;
}
p {
  orphans: 4;
}
h1 {
  font-size: 4rem;
  font-family: "Shrikhand", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
figure {
  overflow-x: auto;
  margin: 1.2em 0;
  max-width: calc(100% + 32px);
  padding: 0;
}
figure > table {
  margin: 0 !important;
}
tr {
  break-inside: avoid;
  break-after: auto;
}
thead {
  display: table-header-group;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: auto;
  break-inside: auto;
  text-align: left;
}
@media print {
  body,
  html {
    border: 1px solid transparent;
    height: 99%;
    break-after: avoid-page;
    break-before: avoid-page;
    font-variant-ligatures: no-common-ligatures;
  }
  #write {
    margin-top: 0;
    padding-top: 0;
    border-color: transparent !important;
  }
}
[contenteditable="false"]:active,
[contenteditable="false"]:focus,
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  outline: 0;
  box-shadow: none;
}
table tr th {
  border-bottom-width: 0;
}
:root {
  --side-bar-bg-color: #fafafa;
  --control-text-color: #777;
}
body {
  font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #333;
  line-height: 1.6;
}
@media only screen and (min-width: 45em) {
  #write {
    padding: 30px;
  }  
}
#write {
  max-width: 860px;
  margin: 0 auto;
  padding-bottom: 100px;
}
@media only screen and (min-width: 1400px) {
  #write {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1800px) {
  #write {
    max-width: 1200px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.4;
  cursor: text;
}
h1 {
  padding-bottom: 0.3em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
  color: #777;
}
p,
table {
  margin: 0.8em 0;
  font-family: "Fanwood Text", serif;
  font-size: 2em;
}
table {
  padding: 0;
  word-break: initial;
}
table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n),
thead {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: 700;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}
table tr td:first-child,
table tr th:first-child {
  margin-top: 0;
}
table tr td:last-child,
table tr th:last-child {
  margin-bottom: 0;
}
@media print {
  html {
    font-size: 13px;
  }
  table {
    page-break-inside: avoid;
  }
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #333333;
  text-decoration: underline;
}
figure {
  border-radius: 30px;
  border: 3px solid #dfe2e5;
}
