*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;
  --fonts-body: 'Baloo 2', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
  --fonts-display: 'Shrikhand', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
  --fonts-mono: 'SF Mono', 'Roboto Mono', Menlo, Consolas, monospace;

  --colors-darker: #151613;
  --colors-dark: #20201d;
  --colors-darkless: #2b2b27;
  --colors-black: #1d201d;
  --colors-slate: #3b413a;
  --colors-muted: #777f76;
  --colors-smoke: #d5d8d5;
  --colors-snow: #f5f5f4;
  --colors-white: #ffffff;
  --colors-pink: #ff62dc;
  --colors-orange: #ff5b00;
  --colors-yellow: #f7ff00;
  --colors-green: #28ff00;
  --colors-cyan: #00ffff;
  --colors-blue: #00a4ff;
  --colors-purple: #c210ff;

  --colors-text: var(--colors-black);
  --colors-background: var(--colors-snow);
  --colors-sheet: var(--colors-white);
  --colors-elevated: var(--colors-white);
  --colors-sunken: var(--colors-smoke);
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: var(--fonts-body);
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: var(--colors-background);
  color: var(--colors-text);
}

img {
  max-width: 100%;
}

.react-calendar-heatmap {
  max-width: 320px;
}
.react-calendar-heatmap-month-label,
.react-calendar-heatmap-weekday-label {
  font-size: 8px;
}

.__react_component_tooltip { pointer-events: auto !important; }