/* grabbed from https://replit.com/@MaxWofford/cartridge-experiment#cartridge/style.css */

/* reg bold */
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2")
      format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* reg ital bold */
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2")
      format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2")
      format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* regular */
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --hc-font-sans: "Phantom Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  --hc-font-mono: "SF Mono", "Roboto Mono", Menlo, Consolas, monospace;
  /* recommend not using these variables directly-- they won't change along with light/dark mode */
  --black: #1f2d3d;
  --slate: #3c4858;
  --muted: #8492a6;
  --smoke: #e0e6ed;
  --snow: #f9fafc;
  --white: #fff;

  /* base colors */
  --red: #ec3750;
  --orange: #ff8c37;
  --yellow: #f1c40f;
  --green: #33d6a6;
  --cyan: #5bc0de;
  --blue: #338eda;
  --purple: #a633d6;

  --lighter: #CECBB8;
  --light: #DDDAC7;
  --lightless: #CAC4B0;

  /* dark colors from bank are a little too dark for this theme, let's make our own colors */
  /* --darkless: #252429; */
  /* --dark: #17171d; */
  --darkless: #535352;
  --dark: #3E4040;
  --darker: #28282e;
}

.cartridge {
  background: var(--lighter);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.cartridge .version {
  color: var(--light);
  background: var(--darkless);
  /* transform: rotate('90deg'); */
  transform: rotate(-90deg);
  border-radius: 5px;
  text-align: center;
}
.cartridge .version:after {
  content: '███████████';
  display: block;
  letter-spacing: 1px;
  transform: scaleX(50%);
}