.club-posts {
  margin-top: 12px;
}

.club-name {
  margin-bottom: 8px;
  color: white;
}

.club-header-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width: 48em) {
  .club-header {
    grid-template-columns: repeat(3, 1fr);
  }
}
