.EmojiPickerReact * {
  font-family: var(--fonts-body) !important;
}

.epr-preview {
  display: none !important;
}

.epr-skin-tones {
  display: none !important;
}

input.epr-search {
  font-size: 16px;
}

input.epr-search::placeholder {
  font-size: 0px !important;
}

.EmojiPickerReact .epr-category-nav {
  padding: 0px 10px !important;
}

.EmojiPickerReact .epr-category-nav > button.epr-cat-btn:focus:before {
  border: 0px solid var(--epr-category-icon-active-color) !important;
  border-radius: 50%;
}
