@media (max-width: 48em) {
  .nav-flag,
  .nav-link-about,
  .beta-label {
    display: none !important;
  }
  .nav-link-home {
    margin-left: 0px !important;
  }
  .nav {
    padding: 8px 16px !important;
  }
}

@media (min-width: 48em) {
  .nav {
    padding: 0 32px;
  }

  .nav-link-home {
    margin-left: 12px;
  }
}

.nav {
  padding: 0 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link {
  margin-left: 16px;
  color: var(--colors-muted);
  text-decoration: none;
  transition: 0.125s color ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--colors-cyan);
}

.nav-link-home {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: auto;
  font-size: 20px;
  -webkit-text-fill-color: currentColor;
}

.nav-link-about {
  margin-left: auto;
}

.nav-link-github {
  line-height: 0;
  cursor: pointer;
}
