.overlay {
  padding: 32px;
  color: var(--white);
  overflow-y: scroll;
  width: 100vw;
  max-height: 95vh;
  max-width: 600px;
  z-index: 999;
  border-radius: 16px;
  border: 1.5px solid var(--colors-cyan);
  background: var(--colors-background);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0625), 0 8px 12px rgba(0, 0, 0, 0.125);
}

.overlay-wrapper {
  height: 100vh;
  width: 100vw;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}