#root {
  background: #f5f5f4;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
  font-size: 12pt;
  margin: 0px;
}

#notifcontent {
  min-width: 300px;
  max-width: 500px;
  width: 60vw;
  padding-bottom: 20px;
}

#notifcontent input {
  font-family: monospace;
}

.notif-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif-button button {
  font-family: monospace;
}

.notif-header {
  text-align: center;
}

.form-item {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.form-item input {
  padding: 3px;
}

.scrapbook-embed {
  border: none;
  width: 80vw;
  height: 50vh;
  border-radius: 5px;
  border: solid 1px grey;
  padding: 10px;
  box-sizing: border-box;
}