:root {
  --colors-one: #d6e685;
  --colors-two: #8cc665;
  --colors-three: #44a340;
  --colors-four: #1e6823;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colors-text: var(--colors-white);
    --colors-background: var(--colors-darker);
    --colors-sheet: var(--colors-darkless);
    --colors-elevated: var(--colors-darkless);
    --colors-sunken: var(--colors-darker);
  }
}

.nav {
  padding: 0 16px;
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-link {
  margin-left: 16px;
  color: var(--colors-muted);
  text-decoration: none;
  transition: 0.125s color ease-in-out;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--colors-purple);
}
.nav-link-home {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: auto;
  font-size: 20px;
  -webkit-text-fill-color: currentColor;
}
.nav-link-about {
  margin-left: auto;
}
.nav-link-github {
  line-height: 0;
}

.container {
  max-width: 72rem;
  padding: 1rem 1rem 2rem;
  margin: auto;
}

.header {
  display: grid;
  max-width: 48rem;
}

@media (min-width: 48em) {
  .nav {
    padding: 0 32px;
  }

  .nav-link-home {
    margin-left: 12px;
  }

  .header {
    grid-template-columns: 2fr 3fr;
  }
}

/*
.header-back {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  margin-left: -12px;
  color: var(--colors-muted);
  border-radius: 999px;
  text-decoration: none;
  transition: box-shadow 0.125s ease-in-out;
}
.header-back:focus,
.header-back:hover {
  box-shadow: 0 0 0 2px;
  outline: none;
}
.header-back svg {
  margin-right: 8px;
}
*/

@media (max-width: 32em) {
  .header-col-1 {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.header-title-avatar {
  border-radius: 64px;
  margin-right: 16px;
}
.header-title-name {
  margin: 0;
  flex: 1 1 auto;
  font-size: 48px;
  line-height: 1;
}

.badge {
  background-color: var(--colors-yellow);
  color: var(--colors-black);
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  border-radius: 999px;
  text-align: center;
}

.header-streak {
  padding: 4px 16px 4px 0;
  margin-right: 12px;
  max-height: 28px;
}
.header-streak-zero {
  background-color: var(--colors-muted);
}

.header-content {
  display: flex;
  align-items: center;
}
.header-link {
  color: var(--colors-blue);
  padding-right: 8px;
  line-height: 0;
}

.header-chart svg {
  max-width: 100%;
  max-height: 266px;
  overflow-y: hidden;
}

.react-calendar-heatmap text {
  fill: var(--colors-muted);
  font-size: 6px;
}
.react-calendar-heatmap .color-empty {
  fill: var(--colors-sheet);
}
.react-calendar-heatmap .color-1 {
  fill: var(--colors-one);
}
.react-calendar-heatmap .color-2 {
  fill: var(--colors-two);
}
.react-calendar-heatmap .color-3 {
  fill: var(--colors-three);
}
.react-calendar-heatmap .color-4 {
  fill: var(--colors-four);
}

.posts {
  display: grid;
  grid-gap: 1px;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--colors-sunken);
}

@media (min-width: 32em) {
  .posts {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

.post {
  padding: 16px;
background-color: #44475a;
border: 3px solid #ff79c6;
  position: relative;
  width: 100%;
}
.post:hover {
border: 3px solid var(--colors-purple);
background-color: #282a36;
}
.post-header {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  line-height: 1;
}
.post-header-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 8px;
}
.post-header-name {
  font-size: 16px;
  word-break: break-all;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}
.post-header-css {
  color: var(--colors-pink);
}
.post-header-streak {
  margin-right: 4px;
  margin-left: 8px;
  padding-left: 10px;
  font-size: 12px;
  max-height: 20px;
}
.post-header-date {
  color: var(--colors-muted);
  font-family: 14px;
}
.post-header > .post-header-date {
  margin-left: 0;
  color: var(--colors-text);
  font-size: 18px;
  font-weight: bold;
}

.post-text {
  font-size: 18px;
  word-wrap: break-word;
}
.post-text a {
  color: var(--colors-blue);
}
a.post-text-mention {
  color: var(--colors-purple);
  display: inline-flex;
  align-items: baseline;
}
.post-text-mention-avatar {
  border-radius: 50%;
  margin-right: 4px;
  align-self: flex-end;
}

.post-attachments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  align-items: center;
  margin-top: 16px;
}
.post-attachment {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
}
a.post-attachment {
  line-height: 0;
}
.post-attachment img {
  border-radius: 6px;
}
.post-attachment img,
video.post-attachment {
  background-color: var(--colors-sunken);
  max-width: 100%;
  max-height: 256px;
}
video.post-attachment,
audio.post-attachment,
a.post-attachment:first-child:last-child {
  grid-column: span 2;
}

.css {
  display: flex;
  align-items: center;
  color: var(--colors-muted);
  margin-top: 32px;
}
.css-icon {
  margin-left: -4px;
  margin-right: 8px;
}
.css-link {
  flex: 1 1 auto;
  word-wrap: break-word;
  word-break: break-all;
  color: inherit;
  font-size: 14px;
  font-family: var(--fonts-mono);
}