/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Shrikhand&display=swap');

body {
  padding: 32px;
}

mux-player::part(bottom time range) {
  --media-range-bar-color: theme('colors.progress') !important;
}

mux-player {
  width: 100%;
}

.masonary-test {
  display: flex;
  flex-flow: column wrap;
}

/* Re-order items into rows */
.masonary-item:nth-child(3n + 1) {
  order: 1;
}
.masonary-item:nth-child(3n + 2) {
  order: 2;
}
.masonary-item:nth-child(3n) {
  order: 3;
}

/* Force new columns */
.masonary-test::before,
.masonary-test::after {
  content: '';
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.masonary-test {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  counter-reset: items;
}

.masonary-item {
  width: 32%;
  /* Optional */
  position: relative;
  margin-bottom: 2%;
  border-radius: 3px;
  padding: 15px;
  box-sizing: border-box;
}

/* Re-order items into 3 rows */
.masonary-item:nth-child(3n + 1) {
  order: 1;
}
.masonary-item:nth-child(3n + 2) {
  order: 2;
}
.masonary-item:nth-child(3n) {
  order: 3;
}

/* Force new columns */
.masonary-test::before,
.masonary-test::after {
  content: '';
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.text-shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  text-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}